* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 13px;
  min-height: 0;
  border-radius: 0px 0px 5px 5px;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  /*
   * border-bottom: 3px solid rgba(100, 114, 125, 0.5);
   */
  color: #aaaaaa;
  transition-property: background, background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
 * window#waybar.empty {
 *   background: transparent;
 * }
 * window#waybar.solo {
 *   background: #ffffff;
 * }
 */

window#waybar.alacritty {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: inherit;
  /*
   * border-bottom: 3px solid transparent;
   */

  transition-property: background, background-color, border-bottom, padding;
  transition-duration: 0.2s;
}

#workspaces button:nth-child(odd) {
  background: rgba(100, 100, 100, 0.5);
}

#workspaces button.focused {
  background: #64727d;
  border-top: 3px solid #aaaaaa;
  padding-top: 2px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 5px;
  color: #ffffff;
}

#clock {
  background-color: #64727d;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background: #2ecc71;
  color: #000000;
}

#memory {
  background: #9b59b6;
}

#backlight {
  background: #90b1b1;
}

#network {
  background: #2980b9;
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
  background: #f1c40f;
  color: black;
}

#pulseaudio.muted {
  background: rgba(43, 48, 59, 0.5);
  color: inherit;
}

#custom-media {
  background: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

.custom-spotify {
  background: #66cc99;
}

.custom-vlc {
  background: #ffa000;
}

#temperature {
  background: #f0932b;
}

#temperature.critical {
  background: #eb4d4b;
}

/*
 * Application tray
 */
#tray {
  background-color: #2980b9;
}

#idle_inhibitor {
  background-color: #2d3436;
  color: inherit;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

/*
 * #mpd {
 *   background: #66cc99;
 *   color: #2a5c45;
 * }
 *
 * #mpd.disconnected {
 *   background: #f53c3c;
 * }
 *
 * #mpd.stopped {
 *   background: #90b1b1;
 * }
 *
 * #mpd.paused {
 *   background: #51a37a;
 * }
 */
